body {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
}

header {
    display: flex;
    width: 100%;
}

.logo {
width: 200px;
    color: #97d04b;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.logo > span {
    color: #d2d2d2;
    font-size: 3.1rem;
    font-family: 'Be Vietnam', sans-serif;
    text-transform: none;
    font-weight: normal;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

section {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

article {
    text-align: justify;
}

.card-section {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img {
    height: 180px;
}

.card-head {
    margin-left: 20px;
}